h2{
    border: 2px solid white;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}
.container{
    border: 2px solid black;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color:black;
}
li{
    list-style: none;
    border: 1px solid;
    background-color: silver;
    color: black;
    padding: 10px;
    margin-block: 15px;
}
.button{
    text-align: center;
}
input[name=generate]{
    padding: 5px;
    border: 2px solid white;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}
label{
    width: 250px ;
    display: inline-block;
}
.result{
    text-align: center;
}