*{
    box-sizing: border-box;
}

h3{
    text-align: center;
    color: green;
}

.container li {
    list-style: none;
    margin-top: 10px;
}

label{
    width: 80px;
    display: inline-block
}

.container {
    border: 2px solid;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
}