h3{
    text-align: center;
    border: 1px solid;
    padding:8px;
    font-size: 20px;
    background-color: aqua;
}
.employeeDetails{
    width:350px;
    border:1px solid;
    margin:10px auto;
    /* padding:10px; */
    overflow: auto;
    
}

.employeeDetails > ul > li{
    width:280px;
    border:1px solid;
    padding:10px;
    margin:5px;
    text-align: center;
    background-color: white;
    
}

.employeeDetails > ul{
    
    padding:19px;
    background-color: antiquewhite;
        
}
li{
    list-style: none;
}
img{
    width:150px;
    height:150px;
    
}