.title{
    text-align: center;
    font-weight: bold;
    color: rgb(238, 84, 7);
}
ul{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: bisque;
}
li{
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    list-style: none;
    background-color: aliceblue;
}
.rblock{
    display: none;
}
h3{
    text-align: center;
    border: 1px solid;
    padding: 10px;
    background-color: aqua;
    border-color: brown;
}
label{
    width: 120px;
    display: inline-block;
}
.marks >input {
    width: 15px;
}
.passed{
    color: blueviolet;
    font-weight: bold;
}
.surprise{
    color: yellowgreen;
    font-weight: bold;
}
#displayBlock{
    display:none;
}