#pageContainer {

    main {
        min-height: 400px;
    }
}
.categoryFilterBlock img {
    width: 100%;
    height: 150px;
    margin: 10PX -10px 10px 0px;
}

.loginContent {
    li {
        list-style: none;
        margin: 10px;
    }
    input[type=checkbox] {
        margin-right: 10px;
    }
}
.canvasblock{
    border: 2px solid;
    width: 150px;
    height: 40px;
    background-color: rgb(241, 232, 232);
}svg{
    width: 50px;
    position: reletive;
    top: 10px;
    left: 10px;
}
.modal-header,.modal-body,.modal-footer{
    background-color: rgba(0, 206, 209, 0.118);
   
}
.loginimg{
    width: 186px;
    height: 123px;
    position: absolute;
    top: 129px;
    left: 284px;
    border-radius: 50%;  
}
.sample{
    border: 1px solid;
    width: 400px;
    height: 400px;
    background-image: url('images\log.png');
}
.sam{
    background-position: 100px 100px;
}
#SignupContainer{
    border: 1px solid white;
    width: 500px;
    height: 300px;
    margin: 150px auto;
    border-radius: 20px;
   h2{
    text-align: center;
    color: blue;
   }
    li{
        list-style: none;
        margin: 10px;
    }
    img{
        position: absolute;
        top: 237px;
        left: 290px;
    }
}
marquee{
    color: gold;
    margin-top: 10px;
    border-radius: 25px;
    text-shadow: 4px 4px 2px brown;
     font-size: 30px; 
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(51, 176, 218);
}
.forgotContainer{
    border: 1px solid;
    width: 400px;
    height: 200px;
    margin: 100px auto;
    padding: 10px;
    li{
        margin: 10px;
        list-style: none;
    }
}
#openeye,#closedeye{
    position: absolute;
    top: 86px;
    left: 431px;
}


