
        .Sum
        {
            list-style-type: none;
            border: 1px solid salmon;
            width: 358px;
            height: 401px;
            position: absolute;
            left: 35%;
            top: 2%;
            padding: 20px;
            font-size: 20px;
            background-color: aqua;
        }
        li
        {
            background-color: rgb(247, 253, 253);
            margin :15px;
            padding:10px;
        }
        input
        {
            width: 80%;
        }
        #addBtn
        {
            width:30%;  
            
        }
        #resultState
        {
            display: none;
        }
    