<ul class="newSingupDetails">
  <li class="userRegistrationTitle">
    <b> User Registration</b>
  </li>
  <li>
    <input
      type="text"
      class="form-control"
      placeholder="Enter user account id" id="accountId"
    />
  </li>
  <li>
    <input
      type="password"
      class="form-control"
      placeholder="Enter account password" id="password"
    />
  </li>
  <li>
    <input
      type="password"
      class="form-control"
      placeholder="re-enter account password"
    />
  </li>
  <li>
    <input id="userMailid" type="text" placeholder="Enter user mail id" class="form-control" />
  </li>
  <li>
    <button class="btn btn-primary" onclick="getUserSignup()">Register</button>
    <button class="btn btn-secondary" onclick="loadSelectedPage('home')">
      << Back to Home
    </button>
  </li>
</ul>

