<div class="productDetailsContainer">
    <div class="row">
        <div class="col-md-2">
            <div class="categoryBlock">
                    <span > <b>FILTERS</b></span>
                    <hr>
                    <div class="categoriesHeader"><b>Categories</b> <span class="bi bi-search" style="position: relative;
                    left: 20px;"></span></div>

                    <div > <span class="bi bi-chevron-left"></span> <b>Accessories</b> </div>
                        <ul>
                            <li>
                                <input type="checkbox" >PenDrives
                            </li>
                            <li>
                                <input type="checkbox" >BackPacks
                            </li>
                            <li>
                                <input type="checkbox" >Laptop Bags
                            </li>
                            <li>
                                <input type="checkbox" >TV's
                            </li>
                            <li>
                                <input type="checkbox" >Home & Kitchen
                            </li>
                            <li>
                                <input type="checkbox">Mobiles
                            </li>
                            <li>
                                <input type="checkbox"> Tabs
                            </li>
                        </ul>
                        <hr>
                        <div>  <span class="bi bi-chevron-left"></span><b>Brand</b></div>
                        <ul>
                            <li>
                                <input type="checkbox"> Dell
                            </li>
                            <li>
                                <input type="checkbox"> Samsung
                            </li>
                            <li>
                                <input type="checkbox"> HP
                            </li>
                            <li>
                                <input type="checkbox"> Asus
                            </li>
                            <li>
                                <input type="checkbox"> Apple
                            </li>
                            <li>
                                <input type="checkbox"> Sony
                            </li>
                        </ul>
                    <hr>
                    <div> Delivery Day</div>
                    <ul>
                        <li>
                            <input type="checkbox">Get it Today
                        </li>
                        <li>
                            <input type="checkbox">Get it Tomorrow
                        </li>
                    </ul>
                    <hr>
                    <div>New Arrivals</div>
                    <ul>
                        <li>
                            <input type="checkbox">Last 30 days
                        </li>
                        <li>
                            <input type="checkbox">Last 60 days
                        </li>
                    </ul>

                    <hr>
                    <div>Colors</div>
                    <div class="colorsRect">
                        <div class="rectangle1"></div>
                        <div class="rectangle2"></div>
                        <div class="rectangle3"></div>
                        <div class="rectangle4"></div>
                        <div class="rectangle5"></div>
                    </div>
                    <hr>
                    <div>Price</div>
                    <ul>
                        <li>
                            <input type="checkbox"> Under Rs.5000
                        </li>
                        <li>
                            <input type="checkbox">  Rs.5000 - 20,000
                        </li>
                        <li>
                            <input type="checkbox">  Rs.20,000 - 35,000
                        </li>
                        <li>
                            <input type="checkbox"> >Rs.50,000
                        </li>
                    </ul>
                <hr>
                <div>Avg.Customers Review</div>
                <div class="fullstar5">
                        <div class="fullstar"></div>
                        <div class="fullstar"></div>
                        <div class="fullstar"></div>
                        <div class="fullstar"></div>
                        <div class="halfstar"></div>
                    
                </div>
                <div class="fullstar5">
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="halfstar"></div>
                    <div class="nostar"></div>
                </div>
                <div class="fullstar5">
                    <div class="fullstar"></div>
                    <div class="fullstar"></div>
                    <div class="halfstar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                </div>
                <div class="fullstar5">
                    <div class="fullstar"></div>
                    <div class="halfstar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                </div>
                <div class="fullstar5">
                    <div class="halfstar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                    <div class="nostar"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="rightBlock_productDetails"></div>
    </div>
</div>