<div class="card" style="width: 16rem;" >
    <img class="card-img-top" src="{{imageUrl}}" height="150px">
    <div class="card-body">
      <div class="row" style="font-weight: bold;"><span style="text-align: center;">{{name}}</span></div>
      <div class="row">

        <span class="actualPrice" 
                      style="text-align: center; color: grey; text-decoration: line-through red;">₹ {{actualPrice}}</span>
        <span class="discountedPrice" 
                      style="text-align: center; color: hotpink; font-weight: bold;">₹ {{discountPrice}}</span>
      </div>
      <div class="row" style="font-weight: bold;"> <span style="text-align: center;">{{manu}}</span></div>
      <div class="row" id="{{productId}}" style="position: relative; left: 50px;"></div>
      <a class="link" href="/?pid={{_id}}" target="_blank">
        View Details
      </a>
    </div>
</div>

