.container{
    height: 2050px;
    width: 100%;
    border: 2px solid;
    /* position: relative;  */

    
}
h1{
    margin:10px auto;
    border: 3px solid;
    text-align: center;

}
.shot img{
    height: 230px;
    width: 230px;
    border: 1px solid;
    float: left;
    margin: 5px;
}
.shot4{
    position: fixed;
    left: 735px;

}

.notes{
font-size: larger;
font-weight: bolder;
margin-top: 200px;
}