<ul class="newSignupDetails">
    <li>
        User Registration
    </li>
    <li>
        <input type="text" class="form-control" placeholder="Enter your name">
    </li>
    <li>
        <input type="text" class="form-control" placeholder="Enter Email/Mobile No">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="Enter password">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="Re-enter password">
    </li>
    <li>
        <button class="btn btn-primary" >Register</button>
        <button class="btn btn-secondary" onclick="loadpage('home')"> << Back to home</button>
    </li>
</ul>