body{
background-color: black;
}
.mainContainer {
    border: 1px solid black;
    height: 680px;
    display: grid;
    grid-template-columns: 495px 495px 495px;
    grid-template-rows: 223px 223px 223px;
    gap: 5px 5px;

}

.mainContainer > div {
    border: 1px solid rgb(13, 6, 33);
    margin: 5px;
}

.firstContainer{
    display:grid;
    grid-template-columns: 157px 157px 157px;
    grid-template-rows: 100px 100px;
    gap:1px 1px;
    background-color: rgb(39, 29, 29); 
    padding: 5px;
}
.secondContainer{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.thirdContainer{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.fourthContainer{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 65px 105px 30px;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.fifthContainer{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.sixthContainer{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.seventhContainer{
    display: grid;
    grid-template-columns: 237px 237px;
    grid-template-rows: 55px auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.childContainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 3px;
}
.eightContainer{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding: 5px;
}
.ninthContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap : 1px 1px;
    background-color: rgb(39,29,29); 
    padding:5px;
}
.block {
    border: 1px rgb(39, 29, 29) solid;
    margin:2px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: rgb(255,85,0);
}
#box3{
    background-color: #ff8400;
}
#box4{
    background-color: rgb(4,159,143);
}
#box5{
    background-color: aquamarine;
}
#box6{
    background-color: aqua;
}
#box7{
    grid-column:1/3;
    background-color: red;
}
#box8{
    grid-column: 3/3;
    grid-row:1/3;
    background-color: #ff8400;
}
#box9{
    background-color: rgb(4,159,143);
}
#box10{
    background-color: aquamarine;
}
#box11{
    grid-column: 1/4;
    background-color: #ff8400;
}
#box12{
    grid-column:1;
    grid-row:2/4;
    background-color: rgb(4,159,143);
}

#box13{
    grid-column:2/4;
    grid-row:2/4;
    background-color: red;
}
#box14{
   grid-row:4;
   grid-column: 1/4;
   background-color: aquamarine;
}
#box15{
    grid-column:1/3;
    background-color: rgb(255,85,0);
  
}
#box16{
    grid-column: 3/5;
    grid-row: 1; 
    background-color: red;
}

#box17{
    grid-column: 1/2;
    grid-row: 2;
    background-color: rgb(4,159,143);
}

#box18{
    background-color: aquamarine;
    grid-column: 2/5;
    grid-row: 2;
}

#box19{
    grid-column: 1/5;
    grid-row:3;
    background-color: #ff8400;
}
#box20,#box27,#box32,#box36
{
    background-color: rgb(4,159,143); 
}
#box21,#box25,#box28,#box35
{
    background-color: rgb(255,85,0);
}
#box23,#box31,#box33
{
    background-color: red;
}
#box24,#box37,#box34
{
    background-color: aqua;
}
#box22,#box29
{
    background-color: aquamarine;
}
#box26,#box30
{
    background-color: #ff8400;
}
#box38{
    grid-column: 1/3;
    grid-row: 1;
    background-color: red;
}
#box39{
    grid-column: 3/4;
    grid-row: 1;
    background-color: rgb(4,159,143);
}
#box40{
    grid-column: 4/5;
    grid-row: 1;
    background-color: #ff8400;
}
#box41{
    grid-row:2;
    grid-column: 1;
    background-color: rgb(255,85,0);
}
#box42{
    grid-row: 2;
    grid-column: 2;
    background-color: rgb(4,159,143);
}
#box43{
    grid-row: 2;
    grid-column: 3;
    background-color: aquamarine;
}
#box44{
    grid-row:3/5;
    grid-column: 1/3;
    background-color: #ff8400;
}
#box46{
    grid-row: 3;
    grid-column: 3;
    background-color: aqua;
}
#box47{
    grid-row: 3;
    grid-column: 4;
    background-color: red;
}
#box48{
    grid-row: 4;
    grid-column: 3;
    background-color: rgb(4,159,143);
}
#box49{
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: aqua;
}
#box45{
    grid-column: 4/5;
    grid-row: 5;
    background-color: #ff8400;
}
#box64{
    grid-row: 2;
    grid-column: 3/6;
    background-color: rgb(255,85,0);
}
#box65{
    grid-row: 3;
    grid-column: 1/6;
    background-color:aqua
}
#box66{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #ff8400;
}
#box67{
    grid-row: 2/4;
    grid-column: 1;
    background-color: rgb(4,159,143);
}
#box68{
    grid-row: 2;
    grid-column: 2/4;
    background-color: aqua;
}
#box54{
    grid-row: 1;
    grid-column: 1/3;
    background-color: aqua;
}
#box50,#box56{
    background-color:#ff8400; 
}

#box52{
    background-color: red;
}
#box53,#box51{
    background-color: rgb(4,159,143);
}
#box55{
    background-color: aquamarine;
}
#box57{
 background-color: red;
}
#box58{
    background-color: #ff8400;
}
#box59{
    background-color: aqua;
}
#box60{
    background-color: aquamarine;
}
#box61{
    background-color: rgb(4,159,143);
}
#box62{
    background-color:#ff8400 ;
}
#box63{
    background-color: red;
}
#box69{
    background-color: red;
}
#box70{
    background-color: #ff8400;
}
