.container{
    height: 250px;
    width: 100%;
    border: 2px solid;
    
}
h1{
    margin:10px auto;
    border: 3px solid;
    text-align: center;

}
.shot img{
    height: 230px;
    width: 230px;
    border: 1px solid;
    float: left;
    margin: 5px;
}
.shot2{
    position: relative;
    top: 250px;
    left: 120px;
}
.shot4{
    position: relative;
    top: 250px;
    right: 120px;
}
.notes{
    font-weight: bolder;
    font-size: larger ;
    margin-top: 300px;
}