<ul class="newSingupDetails">
    <li>
        User Registration
    </li>
    
        <li><input type="text" class="form-control" placeholder="Username"></li>
        <li><input type="email" class="form-control" placeholder="Email"></li>
        <li><input type="password" class="form-control" placeholder="Enter account password"></li>
        <li><input type="password" class="form-control"  placeholder="re-enter account password"></li>
        <li><button class="btn btn-primary">Register</button>
            <button class="btn btn-secondary" onclick="loadSelectedPage('home')" > << Back to home</button>
    </li>
</ul>