h3 {
    font-size: 25px;
    text-align: center;
    margin: 30px auto;
}
.container {
    width: 350px;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid;
}
.detailsblock {
    width: 80%;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
input {
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus {
    border-color: rgb(169, 169, 244); /* Shining blue color */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px  rgb(169, 169, 244) ; /* Optional: add a box shadow for emphasis */
  }
label {
    margin: 10px;
} 
svg {
    position: relative;
    top: -24px;
    left: 46px;
}
.block {
    display: none;
    margin: 15px;
}
#displayIcon {
    position: relative;
    top: 27px;
    left: -44px;
}
#displayIcon1 {
    position: relative;
    top: 30px;
    left: -44px;
}
#displayIcon2 {
    position: relative;
    top: 33px;
    left: -44px;
}

#displayIcon3 {
    position: relative;
    top: 35px;
    left: -44px;
}
#displayIcon4 {
    position: relative;
    top: 38px;
    left: -44px;
}
.msgblock {
    margin: 50px auto;
    width: 250px;
    height: 250px;
    border: 1px solid;
    border-radius: 10px;
   display: none;
}
.content {
    font-size: 20px;
    color: #0a7c0a;
    text-align: center;
    position: relative;
    top: 64px;
}
.imageblock {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 31px;
    left: 82px;
}