#imgContainer
{
    width: 500px;
    height: 500px;
    border:1px solid black;
    overflow: auto;
}
img
{
    position: relative;
    bottom: -20px;
    width: 200px;
    height: 150px;
}
span
{
    padding:10px;
    margin:10px;
    color:rgb(254, 251, 251);
    background-color: brown;
}
#count
{
    display: none;
    position: absolute;
    left: 211px;
    top: 72px;
}
