body {
  background-color: ivory;
}
#pageContainer {
  main {
    min-height: 400px;
  }
}

.categoryFilterBlock img {
  width: 90%;
  height: 150px;
  margin: 10px;
}

.loginContent {
  li {
    list-style: none;
    margin: 10px;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}
.modal-body {
  height: 380px;
  background-color: rgb(250, 235, 235);
}

#pageLoginModel .modal-footer button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
}

.newSingupDetails {
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 550px;
  margin: 10px auto;
  padding: 10px;
  background: linear-gradient(orange, white);

  li {
    list-style: none;
    margin: 20px;
    padding: 10px;
  }

  .userRegistrationTitle {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
  }
}

.forgotPasswordDetails {
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 550px;
  margin: 10px auto;
  padding: 10px;
  background: linear-gradient(rgb(1, 218, 247), white);

  li {
    list-style: none;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
  .passwordAssistance {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
  }

  .validationlist {
    position: relative;
    left: 70px;
    display: none;
  }

  #openeye {
    position: relative;
    top: -35px;
    left: 200px;
  }
  #closedeye {
    position: relative;
    top: -35px;
    left: 200px;
  }
}

#metaContentBlock .col-md-4 {
  transition: all ease 1s;
}

#metaContentBlock .col-md-4:hover {
  scale: 1.1;
}

.py-5 {
  background-color: #fff3b0;
  padding: 20px;
  /* border-radius: 20px; */
}

#navbarlogo li img {
  width: 120px;
}

#navbarlogo li a {
  margin-left: 20px;
  font-weight: 700;
  transition: ease-out 1s;
  border: 2px solid transparent;
}

#navbarlogo li a:hover {
  color: gold !important;
  scale: 1.1;
  border: 2px solid white;
}

.invalidMsgBlock {
  text-align: center;
  color: rebeccapurple;
  font-size: 15px;
}
#captchaContainer {
  border: 1px solid #000;
  width: 120px;
  height: 70px;
  margin: 20px auto;
  position: absolute;
  left: 5%;
  bottom: 10%;
}
#captchaContainer img {
  width: 100%;
  height: 100%;
}
li input[type="text"] {
  width: 100%;
}
.input-icon {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-icon bi {
  font-size: 1.2rem;
  color: var(--text-color);
}
#refreshButton{
  width: 6%;
  height: 10%;
}