h3 {
    text-align: center;
    border: 1px solid;
    margin :10px;
    padding:10px;
}

.EDetails {
    border: 1px solid black;
    margin:10px;
    padding: 10px;
    width :300px;
}

.EDetails > ul > li {
    list-style: none;
    border:1px solid #ccc;
    width: 200px;
    padding:10px;
    margin:5px;
} 

li {
    list-style: none;
}

.EDetails > ul {
    margin:5px;
    padding: 5px;
}

img {
    width:170px;
}
