#container{
    width: 575px;
    height: 475px;
    border: 2px solid;
    margin-left: 30%;
}
.call{
    width: 50px;
    height: 20px;
    border: 2px solid;
    margin: 2px;
    float: left;
    text-align: center;
    padding-top: 20px;
}
h1{
    text-align: center;
}
.btncontainer{
    width: 500px;
    height: 150px;
    /* border: 2px solid; */
    position: relative;
    left: 40%;
    bottom: 10px;
}
#random{
    width: 60px;
    height: 60px;
    /* border: 2px solid; */
    position: absolute;
    top: 10px;
    left: 20%;
    color: red;
    font-size: 60px;
    padding: 30px;
}
input{
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 30px;
}
.colred{
    width: 50px;
    height: 20px;
    border: 2px solid;
    margin: 2px;
    float: left;
    text-align: center;
    padding-top: 20px;
    background-color: red;
    color: orange;
    border-radius: 50%;
}
.close{
    display: none;
}
.restbtn{
    position: absolute;
    top: 60px;
    right: 70px;
    font-size: 30px; 
}
.reset{
    width: 50px;
    height: 20px;
    border: 2px solid;
    margin: 2px;
    float: left;
    text-align: center;
    padding-top: 20px;
    background-color: white;
    color: black;
}