*{
            margin: 0px;
        }
        .main {
            background-color: #4285F4;
            display: flex;
            justify-content: space-evenly;
        }

        .col-1 {
            height: 500px;
            font-size: 5rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 500px;
            padding: 20px;
            padding-top: 120px;
            padding-left: 80px;
            color: white;
        }

        .col-2 {
            border: 1px solid white;
            height: 500px;
            width: 600px;
            margin-top: 40px;
            border-radius: 10px;
            background-color: white;
        }

        .col-2 input {
            width: 400px;
            height: 60px;
            margin: 20px;
            border-radius: 10px;
            font-size: 2rem;
        }

        ::placeholder {
            color: gray;
            padding-left: 10px;
        }

        .validationTitle {
            font-size: 2rem;
            font-weight: bold;
            padding-left: 20px;
        }

        .firstValidation,
        .secondValidation,
        .thirdValidation,
        .fourthValidation,
        .fifthValidation {
            font-size: 1.6rem;
            padding-left: 20px;
            padding-top: 15px;
        }

        svg {
            position: relative;
            left: -60px;
        }

        .footer {
            text-align: center;
            margin-top: 90px;
            color: blue;
        }