<ul id="SignupContainer">
    <img src="images\signup.jpg" alt="">
    <h2>User Registration</h2>
    <li>
        <input type="text" class="form-control form-control-dark" id="username" placeholder="Enter User id">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="password" placeholder="Enter Password">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="confirmpwd" placeholder="Reenter Pasword">
    </li>
    <li>
        <input type="email" class="form-control form-control-dark" name="" id="emial" placeholder="Enter email id">
    </li>
    <li>
        <button class="btn btn-primary">Register</button>
        <button class="btn btn-secondary" onclick="onSelectedContent('home')"> << Back To Home</button>
    </li>
</ul>