h3{
    border: 1px solid gold;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(33, 240, 14);
    font-size: large;
}
.number {
    border: 1px solid;
    border-radius: 12px;
    margin: 5px;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}
body {
    background-color: rgb(171, 139, 141);
}
.dice{
    position: relative;
    top: 10px;
    right: -235px;
}
.container {
    width: 400px;
    margin: 50px auto;
}
.dispalynumber {
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 120px;
    font-size: 150px;
    text-align: center;
    color: rgb(162, 248, 14);
}
.image{
    width: 120px;
    height: 120px;
    display: inline-block;
}
