#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#detailcontainer{
    border: 2px solid;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 20px lightgray;
    background-color: rgb(191, 229, 200);
}
label{
    display: inline-block;
    width: 100px;
}
#detailcontainer{
    div{
       margin-top: 40px; 
       font-size: 20px;
       button{
        border-radius: 5px;
        width: 100px;
        height: 30px;
        font-size: 19px;
        background-image: linear-gradient(rgb(249, 251, 122), rgb(237, 249, 15));
        float: right;
       }
       input{
        font-size: 20px;
       }
       #msg{
        font-size: 15px;
        color: red;
       }
       #reDetail{
        font-size: 15px;
        color: blue;
       }
    }
}