h3{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    border: 1px splid;
    background-color: rgb(208, 168, 168);
}
.outerblock{
    border: 1px solid ;
    width: 240px;
    margin: 5px;
}
.mainli > ul{
    padding: 5px;
    margin: 5px;
}
.head{
    background-color: bisque;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}
li{
    list-style: none;

}
.outerblock > li{
    border: 1px solid rgb(181, 207, 207);
    margin: 10px;
    padding: 10px;
    width: 200px;
}
img{
    width: 190px;
    height: 145px;
}
.price{
    font-weight: bold;
    text-decoration: underline;
    color: crimson;
    text-decoration-line: line-through;
}
.discprice{
    font-weight: bold;
    color: darkblue;
}