*{
    background-color: #e6c6c6;
    font-family: Arial, sans-serif;
}
h1 {
   border: 1px solid rgb(62, 163, 106);
   background-color: rgb(219, 219, 199);
   padding: 10px;
   text-align: center;
   margin: 10px;
   font-style: italic;
}
.number-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
   
    
    
}
.number{
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #008080;
    font-size: 20px;
}
.picked-number-container{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.picked-number{
    width: 50px;
    height: 50px;
    border: 1px solid;
    margin: 5px;
    background-color: #e6c6c6;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}
#startButton:hover {
    background-color: #006666;
}