.captchaContainer
{
    border: 4px solid rgb(138, 193, 237);
    width: 104px;
    height: 36px;
    padding: 10px;
    position: absolute;
    left: 560px;
    top: 270px;
    background-color: rgb(207, 235, 246);
    color:blue;
    font-size: 30px;
}
#refresh
{
    border: 2px solid rgb(138, 193, 237);
    position: absolute;
    left: 715px;
    top: 282px;
    width: 50px;
    height: 40px;
    background-color: rgb(207, 235, 246);
    margin-left: 10px;
    
}