.block {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  background-color: palegreen;
  animation: movingBlock 10s infinite;
  position: absolute;
  transition: 3s border-radius;
}
@keyframes movingBlock {
  0% {
    top: 0%;
    left: 0%;
    transform: rotate(360deg);
    transition-delay: 5s;
  }
  30% {
    top: 0%;
    left: 89.5%;
    animation-delay: 5s;
    border-radius: 50%;
    transform: rotate(-360deg);
    transition-delay: 5s;
  }

  60% {
    bottom: 1%;
    right: 1%;
    border-radius: 25%;
    transition-delay: 5s;
  }
  90% {
    bottom: 1%;
    right: 89.5%;
    transform: rotate(-360deg);
    transition-delay: 5s;
  }
}
